.small-ion-btn {
  --padding-start: 2px;
  --padding-end: 2px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  font-size: 0.7rem;      /* πιο μικρό αλλά ευανάγνωστο */
  --height: 20px;
  --border-radius: 3px;
  min-width: 0;           /* πολύ σημαντικό! */
}   